#registration_form
  = form_for Member.new, :url => member_registration_path do |f|
    = f.label :email, 'Email: '
    = f.text_field :email
    = f.label :password, 'Password: '
    = f.password_field :password
    = f.label :password_confirmation, 'Password Confirmation: '
    = f.password_field :password_confirmation
    = f.submit 'Sign Up', :class => 'btn primary'
