-content_for :stylesheets do
  -stylesheet_link_tag 'dog'

-content_for :javascripts do
  -javascript_include_tag 'dog'

-content_for :title do
  =@dog.name

-content_for :body_content_title do
  =@dog.name

.dog-title
  %h1= raw @dog.name
  %h2
    =@dog.breed

.row.dog-info
  .span5
    #main_photo
      %img{:src => @dog.primary_photo.url}

    #thumb_photos
      %ul#thumbs_list.unstyled
        - @dog.dog_photos.thumbs.each do |photo|
          -unless photo.url.nil?
            %li{'data-full-photo-url'.to_sym => photo.get_full_photo.url}
              %img{:src => photo.url, :class => (photo.primary? ? 'selected' : nil)}
    #info
      %section
        %dl
          -unless @dog.sex.nil?
            %dt
              Sex:
              %dd= raw @dog.sex
          -unless @dog.weight.nil?
            %dt
              Weight:
              %dd= raw @dog.weight
          -unless @dog.age.nil?
            %dt
              Age:
              %dd= raw @dog.age
          -unless @dog.color.nil?
            %dt
              Colors:
              %dd= raw @dog.color
  .span7
    .share
      %h4 Share This Page
      = link_to 'FB like placeholder'
      |
      = link_to 'Twitter Share Button'
      %section.share_links
        = text_field_tag :share_url, dog_url(@dog), :size => 50, :class => 'long'
        %small.message Press "Ctrl + C" to copy the URL
      %hr
    .description
      %section
        =raw @dog.description
