-content_for :stylesheets do
  -stylesheet_link_tag 'dog'
  
- content_for :javascripts do 
  -javascript_include_tag 'dog'

- content_for :body_content_title do
  = @dog.name

#name
  %section
    %h2= raw @dog.name

#photos
  #main_photo
    %img{:src => @dog.primary_photo.url}
  .clear_div
  
  #thumb_photos
    %ul#thumbs_list
      - @dog.dog_photos.thumbs.each do |photo|
        %li{'data-full-photo-url'.to_sym => photo.get_full_photo.url}
          %img{:src => photo.url, :class => (photo.primary? ? 'selected' : nil)}

#info
  %section
    %dl
      %dt 
        Breed 
        %dd= raw @dog.breed
      %dt 
        Sex
        %dd= raw @dog.sex
      %dt 
        Weight
        %dd= raw @dog.weight    
      %dt 
        Age
        %dd= raw @dog.age
      %dt 
        Colors
        %dd= raw @dog.color
  %section
    Social Media and Share Links - Coming Soon...

                  
.description
  %section
    %p
      = raw @dog.description
      
.clear_div

