<div id="fb-root"></div>

-content_for :stylesheets do
  -stylesheet_link_tag 'dog'

-content_for :javascripts do
  -javascript_include_tag 'dog'

-content_for :title do
  =@dog.name

-content_for :body_content_title do
  =@dog.name


.row.dog-info
  .span5
    .dog-title
      %h1= raw @dog.name
      %h2= raw @dog.breed
    #main_photo
      %img{:src => @dog.primary_photo.image.process(:thumb, "400x450").url}

    #thumb_photos
      %ul#thumbs_list.unstyled
        - @dog.dog_photos.order(:ordinal).each do |photo|
          -unless photo.image.nil?
            %li{'data-full-photo-url'.to_sym => photo.image.process(:thumb, "400x450").url}
              %img{:src => photo.image.process(:thumb, "120x120#n").url, :class => (photo.primary? ? 'selected' : nil)}
    #more-info
      %h3 More Info
      -unless @dog.sex.nil?
        .row 
          .span1 Sex:
          .span2= raw @dog.sex
      -unless @dog.weight.nil?
        .row
          .span1 Weight:
          .span2= raw @dog.weight
      -unless @dog.age.nil?
        .row
          .span1 Age:
          .span2= raw @dog.age
      -unless @dog.color.nil?
        .row
          .span1 Colors:
          .span2= raw @dog.color
  .span7
    .share
      -dog_url = dog_url(@dog)
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <div class="fb-like" data-href="#{u dog_url}" data-send="true" data-width="450" data-show-faces="true"></div>
    %hr
    .description
      %section
        =raw @dog.description
