<% content_for :body_content_title do %>
  <%= @dog.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Rescue Groups</h1>
    <p>
      <%=raw @dog.rescue_groups_id %>
    </p>
  </section>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @dog.title %>
    </p>
  </section>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @dog.name %>
    </p>
  </section>
  <section>
    <h1>Breed</h1>
    <p>
      <%=raw @dog.breed %>
    </p>
  </section>
  <section>
    <h1>Sex</h1>
    <p>
      <%=raw @dog.sex %>
    </p>
  </section>
  <section>
    <h1>Weight</h1>
    <p>
      <%=raw @dog.weight %>
    </p>
  </section>
  <section>
    <h1>Weight Unit</h1>
    <p>
      <%=raw @dog.weight_unit %>
    </p>
  </section>
  <section>
    <h1>Age</h1>
    <p>
      <%=raw @dog.age %>
    </p>
  </section>
  <section>
    <h1>Colors</h1>
    <p>
      <%=raw @dog.colors %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @dog.description %>
    </p>
  </section>
  <section>
    <h1>Notes</h1>
    <p>
      <%=raw @dog.notes %>
    </p>
  </section>
  <section>
    <h1>Primary Image</h1>
    <p>
      <%=raw @dog.primary_image_id %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="dogs">
      <% @dogs.each do |dog| %>
        <li>
          <%= link_to dog.title, dog_path(dog) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
