#login_form
  = form_for Member.new, :url => member_session_path do |f|
    .clearfix
      = f.label :email
      .input
        = f.text_field :email
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
    .actions
      = f.submit 'Sign In', :class => "btn primary"