-content_for :javascripts do
  =javascript_include_tag 'dog-viewer'

.full-width-row.hero
  .span4.logo
    %a=image_tag("dog-logo.png")
  .span7.copy
    %p
      %span.emphasis Second Chance Dog Rescue
      is one of San Diego's largest and most successful non-profits, dedicated to saving homeless dogs.
    %p We rescue, rehabilitate and rehome dogs from local shelters and surrendered by owners.
    %a.btn.danger Donate
    %a.btn{:href => DOG_APPLICATION_FORM_URL, :target => '_blank'} Adopt
/ Don't use refinery home page content
/= render :partial => "/shared/content_page"
.adopt-dogs
  .row
    %h1.span2 Adopt
  #dog-viewer
    #dog-results
    #dog-viewer-controls
      = form_tag root_path, :method => :get do
        = text_field_tag 'search_text', params[:search_text], :placeholder => 'Search by breed or by name', :class => 'dog-search'
        = submit_tag 'Go'
      %a.previous
      %a.next
      #dog-pagination
    #dog-content
.full-width-row.addnl-content
  .span8.events
    %h1 Adoption Events
    .events
      %ul.unstyled
        - @events.each do |event|
          %li.row
            .span2
              -if event.main_image.present?
                = link_to image_tag(event.main_image.process(:thumb, "140x140#").url), event_path(event)
              -else
                = link_to image_tag("http://placehold.it/140x140")
            .span6
              %h3= link_to event.title, event_path(event)
              .info
                %span.datetime=event.start_at
                in 
                %span.location="#{event.city}, #{event.state}"
              %p
                =truncate(event.description, :length => 220, :separator => ' ')
        = link_to "See More Events", "/events", :class => "btn large primary"
  .span4
    %h1 Follow Us
    .social-icons
      %a.twitter-icon{:href => 'http://twitter.com/#!/2ndChanceDog/'}
      %a.fb-icon{:href => 'http://www.facebook.com/SecondChanceDogRescue'}
      %a.linkedin-icon{:href => 'http://linkedin.com'}
    #twitter

