-content_for :javascript_libraries do
  =javascript_include_tag 'dog-viewer'
  =javascript_include_tag "bootstrap/bootstrap-twipsy"

-content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('#dog-viewer-controls a').twipsy({
        'placement': 'below'
      });
      $('.social-icons > a').twipsy({
        'placement': 'below'
      })
    });

-content_for :hero do
  .full-width-row.hero
    .span4.logo
      %a=image_tag("dog-logo.png")
    .span7.copy
      / Maybe at some point hook up home page content to the hero so message can be customized
      /= render :partial => "/shared/content_page"
      %p
        %span.emphasis Second Chance Dog Rescue
        is one of San Diego's largest and most successful non-profits, dedicated to saving homeless dogs.
      %p We rescue, rehabilitate and rehome dogs from local shelters and surrendered by owners.

      %a.btn.primary{:href => '/donate'} Donate
      %a.btn.success{:href => DOG_APPLICATION_FORM_URL, :target => '_blank'} Adopt
      %a.btn{:href => DOG_FOSTER_FORM_URL, :target => '_blank'} Foster
      
.adopt-dogs
  #dog-viewer
    #dog-results
      Loading dogs...
    #dog-viewer-controls
      = form_tag root_path, :method => :get do
        = text_field_tag 'search_text', params[:search_text], :class => 'dog-search'
      %a.search{"data-original-title" => "Search"}
      %a.clear{"data-original-title" => "Reset"}
      %a.previous{"data-original-title" => "Previous Page"}
      #dog-pagination
      %a.next{"data-original-title" => "Next Page"}
      /this keeps webkit from trying to highlight what's after the next button when it's clicked
      %span &nbsp;
    .search-description.help-block Search dogs by breed or by name
    #dog-content
.full-width-row.addnl-content
  .span8.events
    %h1 Upcoming Events
    .events
      %ul.unstyled
        - @events.each do |event|
          %li.row
            .span2
              -if event.main_image.present?
                = link_to image_tag(event.main_image.process(:thumb, "140x140").url), event_path(event)
              -else
                = link_to image_tag("http://placehold.it/140x140")
            .span6
              %h3= link_to event.title, event_path(event)
              .info
                %span.datetime=event_inline_date(event)
                in 
                %span.location="#{event.city}, #{event.state}"
              / maybe better served by having a separate "short description" field
              %p
                =truncate(strip_tags(event.description), :length => 220, :separator => ' ')
      = link_to "See More Events", "/events", :class => "btn right primary"
  .span4
    %h1 Follow Us
    .social-icons
      %a.twitter-icon{:href => 'http://twitter.com/#!/2ndChanceDog/', "data-original-title" => "Twitter @2ndChanceDog"}
      %a.fb-icon{:href => 'http://www.facebook.com/SecondChanceDogRescue', "data-original-title" => "Facebook"}
      %a.linkedin-icon{:href => 'http://www.linkedin.com/groups/Second-Chance-Dog-Rescue-1299187?home=&gid=1299187&trk=anet_ug_hm', "data-original-title" => "LinkedIn"}
    #twitter

