#login-form
  = form_for Member.new, :url => member_session_path do |f|
    = f.label :email, 'Email Address: '
    = f.text_field :email
    = f.label :password, 'Password: '
    = f.password_field :password
    = f.submit 'Sign In', :class => 'btn primary'
    = link_to 'Sign Up for an Account', new_member_registration_path, :id => 'registration_link', :class => 'btn default'
