%h1 Log In
#login-form
  = form_for Member.new, :url => member_session_path do |f|
    = f.label :email, 'Email Address: '
    = f.text_field :email
    = f.label :password, 'Password: '
    = f.password_field :password
    = f.submit 'Log In', :class => 'btn primary'
  .row
    .span4
      %span Don't have an account?
      %br
      %span= link_to 'Sign Up for an Account', new_member_registration_path, :id => 'registration_link'
