-content_for :stylesheets do
  -stylesheet_link_tag 'bootstrap', 'base', 'home', 'dogs-viewer', 'event'

-content_for :javascript_libraries do
  =javascript_include_tag "jquery.min", "jquery_ujs", "jquery.tweet", "underscore-min", "jquery.address"
  =javascript_include_tag 'modernizr-min'
  =javascript_include_tag "bootstrap/bootstrap-modal"
  =javascript_include_tag "application"
  =javascript_include_tag "dog-viewer"
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  =javascript_include_tag "google_map"

!!! 5
%html
  -site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true})
  = render :partial => "/shared/head"

  %body
    = site_bar
    .topbar
      .topbar-inner
        .container
          = link_to image_tag('logo.png'), root_path, {:class => 'brand'}
          %ul.nav
            %li
              %a{:href => '/'} Dogs
            %li
              %a{:href => "/events"} Events
            %li
              %a{:href => "/about-us"}About Us
            %li
              %a{:href => "/how-to-help"} How to Help
            - if current_member
              %li
                = link_to 'Sign Out', destroy_member_session_path
            - else
              %li
                = link_to 'Volunteer Login', "javascript:void(0)", :id => 'login-link', "data-controls-modal" => "login_form"

    .container.main
      = yield
      %footer
        =render :partial => 'shared/footer'
    = render 'shared/login_form_modal'

