-content_for :stylesheets do
  -stylesheet_link_tag 'bootstrap', 'base', 'home', 'dogs-viewer'

-content_for :javascript_libraries do
  =javascript_include_tag "jquery.min", "jquery_ujs", "jquery.tweet", "underscore-min", "jquery.address"
  =javascript_include_tag "bootstrap/bootstrap-twipsy"
  =javascript_include_tag "bootstrap/bootstrap-popover"
  =javascript_include_tag "application"
  =javascript_include_tag "dog-viewer"

!!! 5
%html
  -site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true})
  = render :partial => "/shared/head"

  %body
    = site_bar
    .topbar
      .topbar-inner
        .container
          = link_to image_tag('logo.png'), root_path, {:class => 'brand'}
          %ul.nav
            / %li
            /   %a{:href => "#resources"} Owner Surrenders
            %li
              %a{:href => '/'} Dogs
            %li
              %a{:href => "/events"} Events
            %li
              %a{:href => DOG_APPLICATION_FORM_URL, :target => '_blank'} Adoption Application
            %li
              %a{:href => "/help"} How to Help
    .container.main
      = yield
      %footer
        =render :partial => 'shared/footer'
    = render :partial => "/shared/javascripts"
